* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;    
    
}

header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 85%;

}

#view-high-scores {
    color:rgb(170, 129, 170);
    margin-left: -5%;
    
    
}
#view-high-scores:hover {
    cursor: pointer;
    color: rgb(150, 21, 150);

}

header h4 {
    padding-left: 20px;
    font-size: 1.5rem;
    display: inline;
}

.timer {
    font-size: 1.5rem;
    color: black;
    display: inline;
    text-align: right;
    padding: 5px;

}


.container {
    padding: 20px;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

h1 {
    color: black;
    font-size: 3.0rem;
    font-weight: bold;
}

p {
    color: black;
    font-size: 2.0rem;    
}

.start {    
    align-items: center;
    text-align: center;
}

.start h1, .start p {
    text-align: center;
}

.questions {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 20px;
    margin: auto;
}

.end h1, .end p {
    text-align: left;
}

.end input {
    outline: thick;
    border-width: 1px;
    padding: 5px;
    width: 35%;
    font-size: 2.2rem;
    border-radius: 5px;
}

.end input:focus {
    border: 2px solid rgb(143, 31, 143);
}

/* https://www.w3schools.com/cssref/pr_class_visibility.php */
.show {
    display: flex;
}

.hide {
    display: none;
}

#question {
    color: var(--primary);
    text-align: left;
    font-size: 3.0rem;
    font-weight: bold;
}

#high-score {
    text-align: left;
}

.btn {
    border: none;
    background-color: rgb(143, 31, 143);
    color: white;
    font-size: 2rem;
    border-radius: 10px;
    padding: 10px 16px 10px 16px;

    
}

.btn:hover {
    cursor: pointer;
    transition-duration: 150ms;
    background-color: rgb(233, 68, 233);
    color:white;
}

.btn:active {
    border: none;
    outline: none;
}

.btn:focus {
    border: none;
    outline: none;
}

.btn-grid {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-gap: 5px;
    margin: 20px 0;    
}

.startend {
    width: 25%;
    margin-top: 10px;
}

.answerbtn {
    width: 50%;
    text-align: left;
    font-size: 3.0vw;
}


.banner {
    font-size: 25px;
    text-align: center;
    color: rgb(122, 115, 115);
    font-style: italic;
    margin: 0 100px;
} 

.banner h2  {
    border-top: 2px solid rgb(192, 188, 188);
    margin: 0 auto;
    text-align: center;
    padding-top: 5px;
}
